* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#video-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

video {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.main-videos {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.main-right {
  flex: 0.2;
}

.main-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  background: rgb(58, 55, 61, 0.3);
}

.main-controls-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.main-controls-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #d2d2d2;
}

.leave-meeting {
  color: red;
}

/* Chat */

.main-right {
  display: flex;
  flex-direction: column;
  background: rgb(36, 35, 34);
}

.main-header {
  color: #f5f5f5;
  text-align: center;
}

.main-chat-window {
  flex-grow: 1;
}

.main-message-container {
  display: flex;
  padding: 22px 12px;
}

.main-message-container > input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 15px;
}
